# 0. 라이브러리 임포트

In [1]:
#싸이파이 arff 파일읽기
from scipy.io import arff
from io import StringIO

import numpy as np
import pandas as pd

#싸이킷런
from sklearn.impute import SimpleImputer,KNNImputer #결측치처리
from sklearn.preprocessing import LabelEncoder #0,1,2...라벨 인코딩

## 0.1. 변수 설정

In [ ]:
# 각 문제에서 해줌

# 1. VOTE example_결측치 처리
 ********************
## 방법: sklearn.impute.SimpleImputer
****************
I 설명 :Imputer
SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)
  
**1. missing_values** : **없는 값에 대한 표현**을 써주면 됨(예제에서는 '?' 이다)

       number, string, 
   **np.nan (default) or None**
      
      The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For pandas' dataframes with
    nullable integer dtypes with missing values, `missing_values`
    should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.

**2.strategy** : string, default='mean'
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.

    .. versionadded:: 0.20
       strategy="constant" for fixed value imputation.

fill_value : string or numerical value, default=None
    When strategy == "constant", fill_value is used to replace all
    occurrences of missing_values.
    If left to the default, fill_value will be 0 when imputing numerical
    data and "missing_value" for strings or object data types.

# 1-1. Weka data arff 파일 읽기

In [4]:
vote_data,vote_meta = arff.loadarff('C:/Users/82105/Desktop/20_2Q_수업/데이터마이닝[세종]/Weka-3-8-4/data/vote.arff')

print(vote_meta)
vote_data = pd.DataFrame(vote_data)
# display(vote_data)

## 1-2. binary 표현 변경 pd.Categorical 이용

for col in vote_data:
    if col == "Result":
        temp = list(map(lambda x: int(x.decode('UTF-8')),vote_data[col]))
        vote_data[col] = temp
    else:
        temp = list(map(lambda x: x.decode('UTF-8'),vote_data[col]))
        vote_data[col] = temp
        vote_data[col] = pd.Categorical(vote_data[col])

Dataset: vote
	handicapped-infants's type is nominal, range is ('n', 'y')
	water-project-cost-sharing's type is nominal, range is ('n', 'y')
	adoption-of-the-budget-resolution's type is nominal, range is ('n', 'y')
	physician-fee-freeze's type is nominal, range is ('n', 'y')
	el-salvador-aid's type is nominal, range is ('n', 'y')
	religious-groups-in-schools's type is nominal, range is ('n', 'y')
	anti-satellite-test-ban's type is nominal, range is ('n', 'y')
	aid-to-nicaraguan-contras's type is nominal, range is ('n', 'y')
	mx-missile's type is nominal, range is ('n', 'y')
	immigration's type is nominal, range is ('n', 'y')
	synfuels-corporation-cutback's type is nominal, range is ('n', 'y')
	education-spending's type is nominal, range is ('n', 'y')
	superfund-right-to-sue's type is nominal, range is ('n', 'y')
	crime's type is nominal, range is ('n', 'y')
	duty-free-exports's type is nominal, range is ('n', 'y')
	export-administration-act-south-africa's type is nominal, range is ('n', 'y')
	Class's type is nominal, range is ('democrat', 'republican')

In [6]:
display(vote_data.describe())
display(vote_data)

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
count,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
unique,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2
top,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y,democrat
freq,236,195,253,247,212,272,239,242,207,216,264,233,209,248,233,269,267

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?,republican
2,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n,republican

# 1.3 SimpleImputer 이용 변환
(최빈치 이용)

In [7]:
imp = SimpleImputer(missing_values='?',strategy = 'most_frequent') #디폴트 사용
fit_vote_data= pd.DataFrame(imp.fit_transform(vote_data))

In [8]:
display(fit_vote_data.describe())
display(fit_vote_data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
count,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,n,y,y,n,y,y,y,y,y,y,n,n,y,y,n,y,democrat
freq,248,243,264,258,227,283,253,257,229,223,285,264,234,265,261,373,267

     0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15          16
0    n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  y  republican
1    n  y  n  y  y  y  n  n  n  n  n  y  y  y  n  y  republican
2    n  y  y  n  y  y  n  n  n  n  y  n  y  y  n  n    democrat
3    n  y  y  n  y  y  n  n  n  n  y  n  y  n  n  y    democrat
4    y  y  y  n  y  y  n  n  n  n  y  n  y  y  y  y    democrat
..  .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..         ...
430  n  n  y  y  y  y  n  n  y  y  n  y  y  y  n  y  republican
431  n  n  y  n  n  n  y  y  y  y  n  n  n  n  n  y    democrat
432  n  y  n  y  y  y  n  n  n  n  y  y  y  y  n  y  republican
433  n  n  n  y  y  y  y  y  y  y  n  y  y  y  n  y  republican
434  n  y  n  y  y  y  n  n  n  y  n  y  y  y  n  n  republican

[435 rows x 17 columns]

# 1.3.2 KNNimputer 이용
**KNNImputer(
    *,
    missing_values=nan,
    n_neighbors=5,
    weights='uniform',
    metric='nan_euclidean',
    copy=True,
    add_indicator=False,
)**
 
n_neighbors : int, default=5
    Number of neighboring samples to use for imputation.

weights : {'uniform', 'distance'} or callable, default='uniform'
    Weight function used in prediction.  Possible values:

    - 'uniform' : uniform weights. All points in each neighborhood are
      weighted equally.
    - 'distance' : weight points by the inverse of their distance.
      in this case, closer neighbors of a query point will have a
      greater influence than neighbors which are further away.
    - callable : a user-defined function which accepts an
      array of distances, and returns an array of the same shape
      containing the weights.

metric : {'nan_euclidean'} or callable, default='nan_euclidean'
    Distance metric for searching neighbors. Possible values:

    - 'nan_euclidean'
    - callable : a user-defined function which conforms to the definition
      of ``_pairwise_callable(X, Y, metric, **kwds)``. The function
      accepts two arrays, X and Y, and a `missing_values` keyword in
      `kwds` and returns a scalar distance value.

copy : bool, default=True
    If True, a copy of X will be created. If False, imputation will
    be done in-place whenever possible.

add_indicator : bool, default=False
    If True, a :class:`MissingIndicator` transform will stack onto the
    output of the imputer's transform. This allows a predictive estimator
    to account for missingness despite imputation. If a feature has no
    missing values at fit/train time, the feature won't appear on the
    missing indicator even if there are missing values at transform/test
    time.

In [9]:
vote_data

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y,republican
1,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?,republican
2,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n,democrat
3,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y,democrat
4,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,n,n,y,y,y,y,n,n,y,y,n,y,y,y,n,y,republican
431,n,n,y,n,n,n,y,y,y,y,n,n,n,n,n,y,democrat
432,n,?,n,y,y,y,n,n,n,n,y,y,y,y,n,y,republican
433,n,n,n,y,y,y,?,?,?,?,n,y,y,y,n,y,republican
434,n,y,n,y,y,y,n,n,n,y,n,y,y,y,?,n,republican

In [18]:
##숫자로 바꾸기
la = LabelEncoder()
vote_data_01 = vote_data.copy()
# for col in vote_data.columns:
vote_data_categ = vote_data_01.replace('n',0)  #no를 0으로 ,yes를 1로 변경
vote_data_categ = vote_data_categ.replace('y',1)
vote_data_categ = vote_data_categ.replace('?',2) #?를 2로 변경

In [19]:
vote_data_categ

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-corporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa,Class
0,0,1,0,1,1,1,0,0,0,1,2,1,1,1,0,1,republican
1,0,1,0,1,1,1,0,0,0,0,0,1,1,1,0,2,republican
2,2,1,1,2,1,1,0,0,0,0,1,0,1,1,0,0,democrat
3,0,1,1,0,2,1,0,0,0,0,1,0,1,0,0,1,democrat
4,1,1,1,0,1,1,0,0,0,0,1,2,1,1,1,1,democrat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,0,0,1,1,1,1,0,0,1,1,0,1,1,1,0,1,republican
431,0,0,1,0,0,0,1,1,1,1,0,0,0,0,0,1,democrat
432,0,2,0,1,1,1,0,0,0,0,1,1,1,1,0,1,republican
433,0,0,0,1,1,1,2,2,2,2,0,1,1,1,0,1,republican
434,0,1,0,1,1,1,0,0,0,1,0,1,1,1,2,0,republican

In [97]:
##################
###결측치 예시확인##
##################
##행렬시 다 고려되는데 최우선은 특정 방법이 있는듯함
##혹은 3차원으로 생각하나??
##디폴트 : 유클리드 거리기반임 
data = {0:[0,1.0,15,3.0,4.0],1:[4,5,np.nan,7,8],2:[8,9.0,15,11,12]}
df_temp = pd.DataFrame(data)
display(df_temp)

#1최근접
print("1최근접 :행의 양옆을 일부러 엄청 크게 진행(일정 영향은 있음)")
imp1 = KNNImputer(n_neighbors = 1)
df_nanX = pd.DataFrame(imp1.fit_transform(df_temp))
display(df_nanX)

#2최근접
print("2최근접")
imp2 = KNNImputer(n_neighbors = 2)
KNN_later = imp2.fit(df_temp)
df_nanX2 = pd.DataFrame(imp2.fit_transform(df_temp))
display(df_nanX2)

#3최근접
print("3최근접")
imp2 = KNNImputer(n_neighbors = 3)
df_nanX3 = pd.DataFrame(imp2.fit_transform(df_temp))
display(df_nanX3)

      0    1     2
0   0.0  4.0   8.0
1   1.0  5.0   9.0
2  15.0  NaN  15.0
3   3.0  7.0  11.0
4   4.0  8.0  12.0

1최근접 :행의 양옆을 일부러 엄청 크게 진행

      0    1     2
0   0.0  4.0   8.0
1   1.0  5.0   9.0
2  15.0  8.0  15.0
3   3.0  7.0  11.0
4   4.0  8.0  12.0

2최근접

      0    1     2
0   0.0  4.0   8.0
1   1.0  5.0   9.0
2  15.0  7.5  15.0
3   3.0  7.0  11.0
4   4.0  8.0  12.0

3최근접

      0         1     2
0   0.0  4.000000   8.0
1   1.0  5.000000   9.0
2  15.0  6.666667  15.0
3   3.0  7.000000  11.0
4   4.0  8.000000  12.0

In [84]:
#KNNImputer 적용 default는 5번
## 같은 row끼리 하려면 전치해서 진행후 전치하면 될듯함
imp2 = KNNImputer(missing_values=2,n_neighbors = 5) #missing value '?'는 2로 해놈
##a.전치 X시 사용 
fit_vote_data = pd.DataFrame(imp2.fit_transform(pd.DataFrame(vote_data_categ.iloc[:,0:16])))

In [83]:
fit_vote_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,0.0,1.00,0.0,1.0,1.00,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.00
1,0.0,1.00,0.0,1.0,1.00,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.75
2,0.5,1.00,1.0,0.5,1.00,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.00
3,0.0,1.00,1.0,0.0,0.75,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.00
4,1.0,1.00,1.0,0.0,1.00,1.0,0.0,0.0,0.0,0.0,1.0,0.5,1.0,1.0,1.0,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,0.0,0.00,1.0,1.0,1.00,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.00
431,0.0,0.00,1.0,0.0,0.00,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.00
432,0.0,0.75,0.0,1.0,1.00,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.00
433,0.0,0.00,0.0,1.0,1.00,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.00
434,0.0,1.00,0.0,1.0,1.00,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.00

# 결측치 처리 후 다시 범주화 (pd.cut)

In [85]:
vote_data = fit_vote_data.copy()
#다시 범주화 include_loweset해야 0도 포함됨(0.5기준으로 cut)
for col in fit_vote_data.columns: #0,0.5,1기준으로 잘라서 0,1표시하겠다
    vote_data[col]= pd.cut(fit_vote_data[col],bins = [0,0.5,1],
                           labels =[0,1], include_lowest = True)

In [87]:
display(vote_data.describe())
display(vote_data)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
count,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435,435
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
top,0,1,1,0,1,1,1,1,1,1,0,0,1,1,0,1
freq,246,224,259,256,219,277,247,246,221,219,280,251,222,257,248,369

     0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
0    0  1  0  1  1  1  0  0  0  1  0  1  1  1  0  1
1    0  1  0  1  1  1  0  0  0  0  0  1  1  1  0  1
2    0  1  1  1  1  1  0  0  0  0  1  0  1  1  0  0
3    0  1  1  0  1  1  0  0  0  0  1  0  1  0  0  1
4    1  1  1  0  1  1  0  0  0  0  1  0  1  1  1  1
..  .. .. .. .. .. .. .. .. .. .. .. .. .. .. .. ..
430  0  0  1  1  1  1  0  0  1  1  0  1  1  1  0  1
431  0  0  1  0  0  0  1  1  1  1  0  0  0  0  0  1
432  0  1  0  1  1  1  0  0  0  0  1  1  1  1  0  1
433  0  0  0  1  1  1  0  0  0  1  0  1  1  1  0  1
434  0  1  0  1  1  1  0  0  0  1  0  1  1  1  0  0

[435 rows x 16 columns]

# <2번 문제> aggregation__merge

## pandas 그룹바이 후에 count 구하면 될듯함
## 아니면 걍 df 분리후 describe
## or 걍 df.describe

In [101]:
cont_data,cont_meta = arff.loadarff('C:/Users/82105/Desktop/20_2Q_수업/데이터마이닝[세종]/Weka-3-8-4/data/contact-lenses.arff')

print(cont_meta)
cont_data = pd.DataFrame(cont_data)
# display(cont_data)

## 1-2. binary 표현 변경 pd.Categorical 이용

for col in cont_data:
    if col == "Result":
        temp = list(map(lambda x: int(x.decode('UTF-8')),cont_data[col]))
        cont_data[col] = temp
    else:
        temp = list(map(lambda x: x.decode('UTF-8'),cont_data[col]))
        cont_data[col] = temp
        cont_data[col] = pd.Categorical(cont_data[col])

In [103]:
cont_data

,age,spectacle-prescrip,astigmatism,tear-prod-rate,contact-lenses
0,young,myope,no,reduced,none
1,young,myope,no,normal,soft
2,young,myope,yes,reduced,none
3,young,myope,yes,normal,hard
4,young,hypermetrope,no,reduced,none
5,young,hypermetrope,no,normal,soft
6,young,hypermetrope,yes,reduced,none
7,young,hypermetrope,yes,normal,hard
8,pre-presbyopic,myope,no,reduced,none
9,pre-presbyopic,myope,no,normal,soft
10,pre-presbyopic,myope,yes,reduced,none
11,pre-presbyopic,myope,yes,normal,hard
12,pre-presbyopic,hypermetrope,no,reduced,none
13,pre-presbyopic,hypermetrope,no,normal,soft
14,pre-presbyopic,hypermetrope,yes,reduced,none
15,pre-presbyopic,hypermetrope,yes,normal,none
16,presbyopic,myope,no,reduced,none
17,presbyopic,myope,no,normal,none
18,presbyopic,myope,yes,reduced,none
19,presbyopic,myope,yes,normal,hard
20,presbyopic,hypermetrope,no,reduced,none
21,presbyopic,hypermetrope,no,normal,soft
22,presbyopic,hypermetrope,yes,reduced,none
23,presbyopic,hypermetrope,yes,normal,none

In [106]:
cont_data_group = cont_data.groupby(by= "contact-lenses")

In [111]:
cont_data_group.agg("count") #걍 카운드만 세고 끝

                age  spectacle-prescrip  astigmatism  tear-prod-rate
contact-lenses
hard              4                   4            4               4
none             15                  15           15              15
soft              5                   5            5               5

In [115]:
cont_data_hard = cont_data[cont_data["contact-lenses"]== 'hard']
cont_data_soft = cont_data[cont_data["contact-lenses"]== 'soft']
print("hard 렌즈 정보")
display(cont_data_hard.describe())
print("soft 렌즈 정보")
display(cont_data_soft.describe())

hard 렌즈 정보

          age spectacle-prescrip astigmatism tear-prod-rate contact-lenses
count       4                  4           4              4              4
unique      3                  2           1              1              1
top     young              myope         yes         normal           hard
freq        2                  3           4              4              4

soft 렌즈 정보

          age spectacle-prescrip astigmatism tear-prod-rate contact-lenses
count       5                  5           5              5              5
unique      3                  2           1              1              1
top     young       hypermetrope          no         normal           soft
freq        2                  3           5              5              5

# 3. normalization

In [128]:
from sklearn.preprocessing import normalize #
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [158]:
diab_data,diab_meta = arff.loadarff('C:/Users/82105/Desktop/20_2Q_수업/데이터마이닝[세종]/Weka-3-8-4/data/diabetes.arff')

print(diab_meta)
diab_data = pd.DataFrame(diab_data)
display(diab_data)

## 1-2. binary 표현 변경 pd.Categorical 이용
#여기선 class만 범주형
col = 'class'
temp = list(map(lambda x: x.decode('UTF-8'),diab_data[col]))
diab_data[col] = temp
diab_data[col] = pd.Categorical(diab_data[col])

display(diab_data)

Dataset: pima_diabetes
	preg's type is numeric
	plas's type is numeric
	pres's type is numeric
	skin's type is numeric
	insu's type is numeric
	mass's type is numeric
	pedi's type is numeric
	age's type is numeric
	class's type is nominal, range is ('tested_negative', 'tested_positive')

     preg   plas  pres  skin   insu  mass   pedi   age               class
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  b'tested_positive'
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  b'tested_negative'
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  b'tested_positive'
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  b'tested_negative'
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  b'tested_positive'
..    ...    ...   ...   ...    ...   ...    ...   ...                 ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0  b'tested_negative'
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0  b'tested_negative'
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0  b'tested_negative'
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0  b'tested_positive'
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0  b'tested_negative'

[768 rows x 9 columns]

     preg   plas  pres  skin   insu  mass   pedi   age            class
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  50.0  tested_positive
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351  31.0  tested_negative
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672  32.0  tested_positive
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0  tested_negative
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0  tested_positive
..    ...    ...   ...   ...    ...   ...    ...   ...              ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0  tested_negative
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340  27.0  tested_negative
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0  tested_negative
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  47.0  tested_positive
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315  23.0  tested_negative

[768 rows x 9 columns]

In [159]:
diab_data.describe()

,preg,plas,pres,skin,insu,mass,pedi,age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [160]:
#1개 정답__첫행
print((50.0-33.240885)/11.760232)

1.4250666993644343

In [161]:
#정규화
diab_scaled = diab_data.copy()
std = StandardScaler()
##한개만 할 시는 reshape(-1,1) 해주어야!!__특성이 한개인 경우 2차원으로 전체행,1열 형태로
aa= np.array(diab_data["age"]).reshape(-1,1) #(전체행 , 1열) 2D 형태로 해주어야 함
ab= std.fit_transform(aa).reshape(-1) #원복
diab_scaled["age"] = ab
display(diab_scaled)

     preg   plas  pres  skin   insu  mass   pedi       age            class
0     6.0  148.0  72.0  35.0    0.0  33.6  0.627  1.425995  tested_positive
1     1.0   85.0  66.0  29.0    0.0  26.6  0.351 -0.190672  tested_negative
2     8.0  183.0  64.0   0.0    0.0  23.3  0.672 -0.105584  tested_positive
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167 -1.041549  tested_negative
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288 -0.020496  tested_positive
..    ...    ...   ...   ...    ...   ...    ...       ...              ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  2.532136  tested_negative
764   2.0  122.0  70.0  27.0    0.0  36.8  0.340 -0.531023  tested_negative
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245 -0.275760  tested_negative
766   1.0  126.0  60.0   0.0    0.0  30.1  0.349  1.170732  tested_positive
767   1.0   93.0  70.0  31.0    0.0  30.4  0.315 -0.871374  tested_negative

[768 rows x 9 columns]